.el-submenu .el-menu-item {
    font-size: 14px;
    padding-left: 60px !important;
    &.is-active {
        background-color: rgba(245, 108, 108, 0.2) !important;
        color: #fff;
    }
}

.el-submenu.is-active.is-opened .el-submenu__title {
    background-color: $mainColor;
}

.el-menu {
    border: none;
}

.el-date-editor--datetimerange.el-input,
.el-date-editor--datetimerange.el-input__inner {
    width: 100% !important;
}

.el-row::after,
.el-row::before {
    display: none !important;
}

.dialogAddForm .el-form-item__content {
    margin-left: 55px !important;
}

.el-menu--popup-right-start li {
    background-color: #344a5f !important;
}

.el-menu--popup-right-start li :hover {
    background-color: #f56c6c !important;
}

.el-menu--popup-right-start li.is-active {
    background-color: #f38888 !important;
    color: #fff;
}